In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
cos_s = pd.Series({str(x):np.cos(x) for x in np.linspace(0, np.pi, 5)})
sin_s = pd.Series({str(x):np.sin(x) for x in np.linspace(0, np.pi, 5)})

In [4]:
cos_s

0.0                   1.000000e+00
0.7853981633974483    7.071068e-01
1.5707963267948966    6.123234e-17
2.356194490192345    -7.071068e-01
3.141592653589793    -1.000000e+00
dtype: float64

In [7]:
df = pd.DataFrame({"cos":cos_s, "sin":sin_s })

In [8]:
df

                             cos           sin
0.0                 1.000000e+00  0.000000e+00
0.7853981633974483  7.071068e-01  7.071068e-01
1.5707963267948966  6.123234e-17  1.000000e+00
2.356194490192345  -7.071068e-01  7.071068e-01
3.141592653589793  -1.000000e+00  1.224647e-16

In [24]:
print(df.values)
print(df.index)
print(df.columns)

[[ 1.00000000e+00  0.00000000e+00]
 [ 7.07106781e-01  7.07106781e-01]
 [ 6.12323400e-17  1.00000000e+00]
 [-7.07106781e-01  7.07106781e-01]
 [-1.00000000e+00  1.22464680e-16]]
Index(['0.0', '0.7853981633974483', '1.5707963267948966', '2.356194490192345',
       '3.141592653589793'],
      dtype='object')
Index(['cos', 'sin'], dtype='object')

In [33]:
# Printing the columns
print(df["cos"])
print(df.sin)

0.0                   1.000000e+00
0.7853981633974483    7.071068e-01
1.5707963267948966    6.123234e-17
2.356194490192345    -7.071068e-01
3.141592653589793    -1.000000e+00
Name: cos, dtype: float64

In [50]:
## Accessing the elements according to the 

print(df.loc["0.0"])
print(df.iloc[1])
a = df.iloc[1]
type(a)

df.values[4,0]

cos    1.0
sin    0.0
Name: 0.0, dtype: float64
cos    0.707107
sin    0.707107
Name: 0.7853981633974483, dtype: float64

-1.0

In [51]:
df['x'] = [x for x in np.linspace(0, np.pi, 5)]

In [52]:
df

                             cos           sin         x
0.0                 1.000000e+00  0.000000e+00  0.000000
0.7853981633974483  7.071068e-01  7.071068e-01  0.785398
1.5707963267948966  6.123234e-17  1.000000e+00  1.570796
2.356194490192345  -7.071068e-01  7.071068e-01  2.356194
3.141592653589793  -1.000000e+00  1.224647e-16  3.141593

In [56]:
df_T = df.T
df_T

,0.0,0.7853981633974483,1.5707963267948966,2.356194490192345,3.141592653589793
cos,1.0,0.707107,6.123234e-17,-0.707107,-1.000000e+00
sin,0.0,0.707107,1.000000e+00,0.707107,1.224647e-16
x,0.0,0.785398,1.570796e+00,2.356194,3.141593e+00

In [40]:
cos_s1 = [np.cos(x) for x in np.linspace(0, 2 * np.pi, 5)]
cos_s1

[1.0, 6.123233995736766e-17, -1.0, -1.8369701987210297e-16, 1.0]

In [54]:
cos_p2 = pd.Series({x:np.cos(x)*np.cos(x) for x in np.linspace(0, np.pi, 5)})
sin_p2 = pd.Series({x:np.sin(x)*np.sin(x) for x in np.linspace(0, np.pi, 5)})

df_p2 = pd.DataFrame({"cos^2":cos_p2, "sin^2":sin_p2})

#################################################################

In [68]:
cri = pd.read_excel("Desktop\Data\cricket.xls")
cri.head()

,Variable Tag,Is Captain(1=yes),Is Wktkeeper(1=Yes),Nationality(1=Overseas),Name,Team,IPL 4 Franchise,Player cost USD,matches,innings played,...,Is star bowler,wkts taken,Best innings bowling,best match bowling,Bowling average,Bowling econ,sr,4w,5w,10 wicket hauls
0,1.0,0.0,0.0,1,Aiden Blizzard,Australia,Mumbai Indians,20000.0,40.0,40.0,...,0.0,0,-,-,0.00,10,-,0,0,0
1,2.0,0.0,0.0,1,Jonathan Vandiar,South Africa,Royal Challengers Bangalore,20000.0,18.0,18.0,...,0.0,-,-,-,0.00,-,-,-,-,-
2,3.0,0.0,0.0,1,Nathan Rimmington,Australia,Kings XI Punjab,20000.0,23.0,8.0,...,0.0,31,2027-05-01 00:00:00,2027-05-01 00:00:00,18.16,7.24,15,0,1,0
3,4.0,0.0,0.0,1,Rilee Rossouw,South Africa,Royal Challengers Bangalore,20000.0,20.0,20.0,...,0.0,-,-,-,0.00,-,-,-,-,-
4,5.0,0.0,0.0,1,Robert Frylinck,South Africa,Delhi Daredevils,20000.0,25.0,22.0,...,0.0,26,1931-04-01 00:00:00,1931-04-01 00:00:00,23.96,7.5,19.1,1,0,0

In [70]:
print(cri.Name)

0                   Aiden Blizzard
1                 Jonathan Vandiar
2                Nathan Rimmington
3                    Rilee Rossouw
4                  Robert Frylinck
5                      Travis Birt
6                    George Bailey
7               Johan van der Wath
8                 Luke Pomersbasch
9                 Moises Henriques
10            Roelof van der Merwe
11                 Michael Klinger
12                 Andrew McDonald
13                    Michael Lumb
14                    Suraj Randiv
15                  Thisara Perera
16                    Rusty Theron
17                  Alfonso Thomas
18                  Ben Hilfenhaus
19                    Colin Ingram
20             Dimitri Mascarenhas
21                  James Franklin
22                   Jerome Taylor
23                    Matthew Wade
24                 Nathan McCullum
25                Nuwan Kulasekara
26                 Wriddhiman Saha
27                     Clint McKay
28                  Faf du Plessis
29                   Mohammad Kaif
                  ...
103                 Angelo Mathews
104                    Johan Botha
105                Ravindra Jadeja
106                    Ross Taylor
107                 AB de Villiers
108                  Cameron White
109                 Jacques Kallis
110           Muttiah Muralitharan
111                     Dale Steyn
112     Harbhajan Singh (retained)
113        Shane Watson (retained)
114        Suresh Raina (retained)
115                   David Hussey
116             Mahela Jayawardene
117                 Saurabh Tiwary
118            MS Dhoni (retained)
119    Sachin Tendulkar (retained)
120         Shane Warne (retained)
121         Virat Kohli (retained)
122     Virender Sehwag (retained)
123                   Yuvraj Singh
124                   Irfan Pathan
125                   Rohit Sharma
126                  Robin Uthappa
127                   Yusuf Pathan
128                 Gautam Gambhir
129                            NaN
130                            NaN
131                            NaN
132                            NaN
Name: Name, Length: 133, dtype: object

In [76]:
cri.describe()

,Variable Tag,Is Captain(1=yes),Is Wktkeeper(1=Yes),Player cost USD,matches,innings played,no,runs scored,Is star batsman,Is batsman,...,4s,6s,Catches per match,Catches taken,stumping made,Unnamed: 25,matches played,Is bowler?,Is star bowler,Bowling average
count,129.000000,129.000000,129.000000,1.290000e+02,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,...,129.000000,129.000000,129.000000,129.000000,129.000000,0.0,128.000000,129.000000,128.000000,129.000000
mean,65.000000,0.077519,0.116279,5.951163e+05,65.410853,49.364341,10.550388,1009.930233,0.162791,0.689922,...,91.240310,35.992248,0.343705,23.000000,1.248062,NaN,65.242188,0.604651,0.132812,19.030388
std,37.383151,0.268456,0.321809,5.546883e+05,28.496604,31.258983,7.118375,921.525588,0.370614,0.464328,...,89.745715,38.754737,0.137414,14.668738,4.337394,NaN,28.543859,0.490832,0.340705,14.387687
min,1.000000,0.000000,0.000000,2.000000e+04,14.000000,2.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.083333,2.000000,0.000000,NaN,14.000000,0.000000,0.000000,0.000000
25%,33.000000,0.000000,0.000000,1.500000e+05,45.000000,22.000000,5.000000,209.000000,0.000000,0.000000,...,15.000000,6.000000,0.246753,13.000000,0.000000,NaN,44.500000,0.000000,0.000000,0.000000
50%,65.000000,0.000000,0.000000,4.250000e+05,61.000000,43.000000,9.000000,714.000000,0.000000,1.000000,...,61.000000,25.000000,0.339130,20.000000,0.000000,NaN,61.000000,1.000000,0.000000,21.730000
75%,97.000000,0.000000,0.000000,9.000000e+05,86.000000,71.000000,14.000000,1715.000000,0.000000,1.000000,...,151.000000,50.000000,0.428571,31.000000,0.000000,NaN,86.000000,1.000000,0.000000,25.800000
max,129.000000,1.000000,1.000000,2.400000e+06,155.000000,150.000000,45.000000,3897.000000,1.000000,1.000000,...,394.000000,167.000000,0.784091,86.000000,24.000000,NaN,155.000000,1.000000,1.000000,89.500000

In [85]:
print(cri.columns)
print(cri.columns[2])

Index(['Variable Tag', 'Is Captain(1=yes)', 'Is Wktkeeper(1=Yes)',
       'Nationality(1=Overseas)', 'Name', 'Team', 'IPL 4 Franchise',
       'Player cost USD', 'matches', 'innings played', 'no', 'runs scored',
       'highest score', 'Is star batsman', 'Is batsman', 'Batting avg',
       'Balls faced', 'Strike rate', '100 runs made', '50 runs made', '4s',
       '6s', 'Catches per match', 'Catches taken', 'stumping made',
       'Unnamed: 25', 'matches played', 'innings played.1', 'Is bowler?',
       'Number of balls bowled', 'runs given', 'Is star bowler', 'wkts taken',
       'Best innings bowling', 'best match bowling', 'Bowling average',
       'Bowling econ', 'sr', '4w', '5w', '10 wicket hauls'],
      dtype='object')
Is Wktkeeper(1=Yes)

In [89]:
#df.groupby("Team")
print(cri.size)
print(cri.shape)
# VI and Emax python editors
# Touchtyping

15
(5, 3)

In [103]:
cri.groupby?

In [109]:
criTeam = cri.groupby(['Team'])
criTeam.describe()

             100 runs made                                                 4s  \
                     count      mean       std  min  25%  50%  75%  max count
Team
Australia             33.0  0.424242  0.830298  0.0  0.0  0.0  0.0  3.0  33.0
Bangladesh             1.0  0.000000       NaN  0.0  0.0  0.0  0.0  0.0   1.0
England                7.0  0.142857  0.377964  0.0  0.0  0.0  0.0  1.0   7.0
India                 48.0  0.125000  0.334219  0.0  0.0  0.0  0.0  1.0  48.0
Netherlands            1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0   1.0
New Zealand            7.0  0.714286  1.112697  0.0  0.0  0.0  1.0  3.0   7.0
South Africa          20.0  0.100000  0.307794  0.0  0.0  0.0  0.0  1.0  20.0
Sri Lanka              9.0  0.222222  0.666667  0.0  0.0  0.0  0.0  2.0   9.0
West Indies            3.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0   3.0

                          ...  runs scored         stumping made            \
                    mean  ...          75%     max         count      mean
Team                      ...
Australia      90.969697  ...      1633.00  3897.0          33.0  1.181818
Bangladesh     33.000000  ...       432.00   432.0           1.0  0.000000
England       137.285714  ...      1947.00  2842.0           7.0  0.000000
India          82.479167  ...      1526.25  2527.0          48.0  1.604167
Netherlands   117.000000  ...      1843.00  1843.0           1.0  0.000000
New Zealand   146.857143  ...      2634.50  3073.0           7.0  0.571429
South Africa   77.650000  ...      1462.50  2415.0          20.0  0.700000
Sri Lanka      98.666667  ...      1873.00  2583.0           9.0  3.000000
West Indies    76.333333  ...      1653.50  1990.0           3.0  0.000000


                   std  min  25%  50%  75%   max
Team
Australia     4.253341  0.0  0.0  0.0  0.0  22.0
Bangladesh         NaN  0.0  0.0  0.0  0.0   0.0
England       0.000000  0.0  0.0  0.0  0.0   0.0
India         4.966867  0.0  0.0  0.0  0.0  24.0
Netherlands        NaN  0.0  0.0  0.0  0.0   0.0
New Zealand   1.511858  0.0  0.0  0.0  0.0   4.0
South Africa  2.178846  0.0  0.0  0.0  0.0   8.0
Sri Lanka     7.937254  0.0  0.0  0.0  0.0  24.0
West Indies   0.000000  0.0  0.0  0.0  0.0   0.0

[9 rows x 200 columns]

In [139]:
a = criTeam.groups
#type(a)
print(a.keys())
k = pd.Series(a.keys())
print(k)
v = pd.Series(a.values())
b = pd.DataFrame(k, v)
#b.head()

dict_keys(['South Africa', 'India', 'Australia', 'New Zealand', 'Sri Lanka', 'Netherlands', 'Bangladesh', 'England', 'West Indies'])
0    (South Africa, India, Australia, New Zealand, ...
1    (South Africa, India, Australia, New Zealand, ...
2    (South Africa, India, Australia, New Zealand, ...
3    (South Africa, India, Australia, New Zealand, ...
4    (South Africa, India, Australia, New Zealand, ...
5    (South Africa, India, Australia, New Zealand, ...
6    (South Africa, India, Australia, New Zealand, ...
7    (South Africa, India, Australia, New Zealand, ...
8    (South Africa, India, Australia, New Zealand, ...
dtype: object

                                                      0
([1, 3, 4, 7, 10, 16, 17, 19, 28, 30, 34, 35, 5...  NaN
([1, 3, 4, 7, 10, 16, 17, 19, 28, 30, 34, 35, 5...  NaN
([1, 3, 4, 7, 10, 16, 17, 19, 28, 30, 34, 35, 5...  NaN
([1, 3, 4, 7, 10, 16, 17, 19, 28, 30, 34, 35, 5...  NaN
([1, 3, 4, 7, 10, 16, 17, 19, 28, 30, 34, 35, 5...  NaN

In [149]:
for s in criTeam:
    print(s[0])
    print(s[1])

Australia
     Variable Tag  Is Captain(1=yes)  Is Wktkeeper(1=Yes)  \
0             1.0                0.0                  0.0
2             3.0                0.0                  0.0
5             6.0                0.0                  0.0
6             7.0                0.0                  0.0
8             9.0                0.0                  0.0
9            10.0                0.0                  0.0
11           12.0                0.0                  0.0
12           13.0                0.0                  0.0
18           19.0                0.0                  0.0
23           24.0                0.0                  1.0
27           28.0                0.0                  0.0
39           40.0                0.0                  0.0
45           46.0                0.0                  1.0
48           49.0                0.0                  0.0
50           51.0                0.0                  0.0
52           53.0                0.0                  0.0
54           55.0                0.0                  1.0
55           56.0                0.0                  0.0
57           58.0                0.0                  0.0
59           60.0                0.0                  0.0
61           62.0                0.0                  0.0
64           65.0                0.0                  0.0
65           66.0                0.0                  0.0
80           81.0                0.0                  0.0
84           85.0                0.0                  0.0
88           89.0                0.0                  0.0
91           92.0                0.0                  0.0
95           96.0                1.0                  1.0
96           97.0                0.0                  0.0
108         109.0                0.0                  0.0
113         114.0                0.0                  0.0
115         116.0                0.0                  0.0
120         121.0                1.0                  0.0

    Nationality(1=Overseas)                     Name       Team  \
0                         1           Aiden Blizzard  Australia
2                         1        Nathan Rimmington  Australia
5                         1              Travis Birt  Australia
6                         1            George Bailey  Australia
8                         1         Luke Pomersbasch  Australia
9                         1         Moises Henriques  Australia
11                        1          Michael Klinger  Australia
12                        1          Andrew McDonald  Australia
18                        1           Ben Hilfenhaus  Australia
23                        1             Matthew Wade  Australia
27                        1              Clint McKay  Australia
39                        1             Steven Smith  Australia
45                        1                Tim Paine  Australia
48                        1              Aaron Finch  Australia
50                        1          Callum Ferguson  Australia
52                        1               Shaun Tait  Australia
54                        1              Brad Haddin  Australia
55                        1              Ryan Harris  Australia
57                        1              James Hopes  Australia
59                        1                Brett Lee  Australia
61                        1              Shaun Marsh  Australia
64                        1               Brad Hodge  Australia
65                        1           Michael Hussey  Australia
80                        1              Dirk Nannes  Australia
84                        1           Doug Bollinger  Australia
88                        1             David Warner  Australia
91                        1           Andrew Symonds  Australia
95                        1           Adam Gilchrist  Australia
96                        1         Daniel Christian  Australia
108                       1            Cameron White  Australia
113                       1  Shane Watson (retained)  Australia
115                       1             David Hussey  Australia
120                       1   Shane Warne (retained)  Australia

                 IPL 4 Franchise  Player cost USD  matches  innings played  \
0                 Mumbai Indians          20000.0     40.0            40.0
2                Kings XI Punjab          20000.0     23.0             8.0
5               Delhi Daredevils          20000.0     45.0            43.0
6            Chennai Super Kings          50000.0     32.0            28.0
8    Royal Challengers Bangalore          50000.0     35.0            33.0
9                 Mumbai Indians          50000.0     40.0            35.0
11                         Kochi          75000.0     30.0            29.0
12              Delhi Daredevils          80000.0     62.0            55.0
18           Chennai Super Kings         100000.0     21.0             9.0
23              Delhi Daredevils         100000.0     27.0            22.0
27                Mumbai Indians         110000.0     31.0            16.0
39                         Kochi         200000.0     41.0            32.0
45                 Pune Warriors         270000.0     26.0            22.0
48              Delhi Daredevils         300000.0     30.0            27.0
50                 Pune Warriors         300000.0     34.0            31.0
52              Rajasthan Royals         300000.0     62.0            20.0
54         Kolkata Knight Riders         325000.0     36.0            34.0
55               Kings XI Punjab         325000.0     51.0            29.0
57              Delhi Daredevils         350000.0     60.0            52.0
59         Kolkata Knight Riders         400000.0     55.0            29.0
61               Kings XI Punjab         400000.0     56.0            55.0
64                         Kochi         425000.0    127.0           124.0
65           Chennai Super Kings         425000.0     60.0            52.0
80   Royal Challengers Bangalore         650000.0    117.0            17.0
84           Chennai Super Kings         700000.0     48.0             4.0
88              Delhi Daredevils         750000.0    105.0           105.0
91                Mumbai Indians         850000.0     89.0            81.0
95               Kings XI Punjab         900000.0     82.0            82.0
96               Deccan Chargers         900000.0     64.0            53.0
108              Deccan Chargers        1100000.0     94.0            89.0
113             Rajasthan Royals        1300000.0     66.0            63.0
115              Kings XI Punjab        1400000.0    155.0           150.0
120             Rajasthan Royals        1800000.0     58.0            31.0

          ...         Is star bowler  wkts taken Best innings bowling  \
0         ...                    0.0           0                    -
2         ...                    0.0          31  2027-05-01 00:00:00
5         ...                    0.0           -                    -
6         ...                    0.0           0                    -
8         ...                    0.0           -                    -
9         ...                    0.0          31  2011-11-03 00:00:00
11        ...                    0.0           -                    -
12        ...                    0.0          62  2013-05-01 00:00:00
18        ...                    0.0          25  2017-03-01 00:00:00
23        ...                    0.0           -                    -
27        ...                    0.0          43  1933-04-01 00:00:00
39        ...                    0.0          42  2013-04-01 00:00:00
45        ...                    0.0           -                    -
48        ...                    0.0           0                    -
50        ...                    0.0           -                    -
52        ...                    1.0          87  2014-04-01 00:00:00
54        ...                    0.0           -                    -
55        ...                    0.0          66  2018-03-01 00:00:00
57        ...                    0.0          43  1933-03-01 00:00:00
59        ...                    0.0          44  2015-03-01 00:00:00
61        ...                    0.0           0                    -
64        ...                    0.0          56  2013-04-01 00:00:00
65        ...                    0.0           0                    -
80        ...                    1.0         153  1940-05-01 00:00:00
84        ...                    0.0          54  2013-04-01 00:00:00
88        ...                    0.0           -                    -
91        ...                    0.0          52  2018-05-01 00:00:00
95        ...                    0.0           -                    -
96        ...                    0.0          59  2023-04-01 00:00:00
108       ...                    0.0          23  2011-10-04 00:00:00
113       ...                    0.0          55  2015-04-01 00:00:00
115       ...                    0.0          43  2025-03-01 00:00:00
120       ...                    0.0          59  2021-04-01 00:00:00

      best match bowling  Bowling average  Bowling econ    sr  4w  5w  \
0                      -             0.00            10     -   0   0
2    2027-05-01 00:00:00            18.16          7.24    15   0   1
5                      -             0.00             -     -   -   -
6                      -             0.00            12     -   0   0
8                      -             0.00             -     -   -   -
9    2011-11-03 00:00:00            29.48           8.5  20.8   0   0
11                     -             0.00             -     -   -   -
12   2013-05-01 00:00:00            22.38          7.73  17.3   1   1
18   2017-03-01 00:00:00            20.76          7.09  17.5   0   0
23                     -             0.00             -     -   -   -
27   1933-04-01 00:00:00            21.97          8.25  15.9   1   0
39   2013-04-01 00:00:00            17.11          7.41  13.8   2   0
45                     -             0.00             -     -   -   -
48                     -             0.00          5.68     -   0   0
50                     -             0.00             -     -   -   -
52   2014-04-01 00:00:00            20.12          7.67  15.7   1   0
54                     -             0.00             -     -   -   -
55   2018-03-01 00:00:00            21.09          7.47  16.9   0   0
57   1933-03-01 00:00:00            34.86          8.44  24.7   0   0
59   2015-03-01 00:00:00            32.88          7.19  27.4   0   0
61                     -             0.00           6.5     -   0   0
64   2013-04-01 00:00:00            20.39          7.56  16.1   3   0
65                     -             0.00             5     -   0   0
80   1940-05-01 00:00:00            19.75          7.06  16.7   5   1
84   2013-04-01 00:00:00            23.12          7.37  18.8   1   0
88                     -             0.00             -     -   -   -
91   2018-05-01 00:00:00            31.55          8.03  23.5   0   1
95                     -             0.00             -     -   -   -
96   2023-04-01 00:00:00            24.11          7.98  18.1   3   0
108  2011-10-04 00:00:00            21.86          9.03  14.5   1   0
113  2015-04-01 00:00:00            24.43          7.23  20.2   1   0
115  2025-03-01 00:00:00            27.62          7.39  22.4   0   0
120  2021-04-01 00:00:00            25.79          7.21  21.4   1   0

     10 wicket hauls
0                  0
2                  0
5                  -
6                  0
8                  -
9                  0
11                 -
12                 0
18                 0
23                 -
27                 0
39                 0
45                 -
48                 0
50                 -
52                 0
54                 -
55                 0
57                 0
59                 0
61                 0
64                 0
65                 0
80                 0
84                 0
88                 -
91                 0
95                 -
96                 0
108                0
113                0
115                0
120                0

[33 rows x 41 columns]
Bangladesh
    Variable Tag  Is Captain(1=yes)  Is Wktkeeper(1=Yes)  \
66          67.0                0.0                  0.0

   Nationality(1=Overseas)             Name        Team  \
66                       1  Shakib Al Hasan  Bangladesh

          IPL 4 Franchise  Player cost USD  matches  innings played  \
66  Kolkata Knight Riders         425000.0     40.0            36.0

         ...         Is star bowler  wkts taken Best innings bowling  \
66       ...                    0.0          55  1931-04-01 00:00:00

     best match bowling  Bowling average  Bowling econ  sr  4w  5w  \
66  1931-04-01 00:00:00            17.78          6.63  16   2   0

    10 wicket hauls
66                0

[1 rows x 41 columns]
England
    Variable Tag  Is Captain(1=yes)  Is Wktkeeper(1=Yes)  \
13          14.0                0.0                  0.0
20          21.0                0.0                  0.0
37          38.0                0.0                  0.0
43          44.0                0.0                  0.0
56          57.0                0.0                  0.0
62          63.0                0.0                  0.0
81          82.0                0.0                  0.0

   Nationality(1=Overseas)                 Name     Team  \
13                       1         Michael Lumb  England
20                       1  Dimitri Mascarenhas  England
37                       1           Owais Shah  England
43                       1     Paul Collingwood  England
56                       1          Eoin Morgan  England
62                       1         Stuart Broad  England
81                       1      Kevin Pietersen  England

          IPL 4 Franchise  Player cost USD  matches  innings played  \
13        Deccan Chargers          80000.0    103.0           103.0
20        Kings XI Punjab         100000.0     81.0            71.0
37                  Kochi         200000.0    115.0           109.0
43       Rajasthan Royals         250000.0     67.0            58.0
56  Kolkata Knight Riders         350000.0     79.0            72.0
62        Kings XI Punjab         400000.0     45.0            14.0
81        Deccan Chargers         650000.0     62.0            61.0

         ...         Is star bowler  wkts taken Best innings bowling  \
13       ...                    0.0           3  1932-03-01 00:00:00
20       ...                    1.0         101  2014-05-01 00:00:00
37       ...                    0.0           5  2026-02-01 00:00:00
43       ...                    0.0          52  2011-06-05 00:00:00
56       ...                    0.0           -                    -
62       ...                    0.0          55  2013-03-01 00:00:00
81       ...                    0.0          17  1933-03-01 00:00:00

     best match bowling  Bowling average  Bowling econ    sr  4w  5w  \
13  1932-03-01 00:00:00            21.66         10.83    12   0   0
20  2014-05-01 00:00:00            18.64          7.02  15.9   1   1
37  2026-02-01 00:00:00            13.80          8.11  10.2   0   0
43  2011-06-05 00:00:00            14.15          7.06    12   3   2
56                    -             0.00             -     -   -   -
62  2013-03-01 00:00:00            20.01          6.75  17.7   0   0
81  1933-03-01 00:00:00            25.00          7.87    19   0   0

    10 wicket hauls
13                0
20                0
37                0
43                0
56                -
62                0
81                0

[7 rows x 41 columns]
India

     Variable Tag  Is Captain(1=yes)  Is Wktkeeper(1=Yes)  \
26           27.0                0.0                  1.0
29           30.0                0.0                  0.0
32           33.0                0.0                  0.0
40           41.0                0.0                  0.0
41           42.0                0.0                  0.0
42           43.0                0.0                  0.0
44           45.0                0.0                  1.0
46           47.0                0.0                  0.0
47           48.0                0.0                  1.0
49           50.0                0.0                  0.0
53           54.0                0.0                  0.0
58           59.0                0.0                  0.0
60           61.0                0.0                  0.0
63           64.0                0.0                  0.0
67           68.0                0.0                  0.0
69           70.0                0.0                  0.0
71           72.0                0.0                  0.0
74           75.0                0.0                  0.0
76           77.0                0.0                  0.0
77           78.0                0.0                  0.0
78           79.0                0.0                  0.0
83           84.0                0.0                  0.0
86           87.0                0.0                  0.0
87           88.0                0.0                  0.0
89           90.0                0.0                  0.0
90           91.0                0.0                  0.0
92           93.0                0.0                  0.0
93           94.0                0.0                  0.0
94           95.0                0.0                  0.0
97           98.0                0.0                  1.0
99          100.0                0.0                  0.0
100         101.0                0.0                  0.0
101         102.0                0.0                  0.0
102         103.0                0.0                  0.0
105         106.0                0.0                  0.0
112         113.0                0.0                  0.0
114         115.0                0.0                  0.0
117         118.0                0.0                  0.0
118         119.0                1.0                  1.0
119         120.0                1.0                  0.0
121         122.0                0.0                  0.0
122         123.0                1.0                  0.0
123         124.0                1.0                  0.0
124         125.0                0.0                  0.0
125         126.0                0.0                  0.0
126         127.0                0.0                  1.0
127         128.0                0.0                  0.0
128         129.0                1.0                  0.0

    Nationality(1=Overseas)                         Name   Team  \
26                        0              Wriddhiman Saha  India
29                        0                Mohammad Kaif  India
32                        0              Joginder Sharma  India
40                        0                 Ajit Agarkar  India
41                        0                 Sudeep Tyagi  India
42                        0               Jaidev Unadkat  India
44                        0                   Naman Ojha  India
46                        0                Manpreet Gony  India
47                        0                Parthiv Patel  India
49                        0                  Amit Mishra  India
53                        0               Shikhar Dhawan  India
58                        0                  Ashok Dinda  India
60                        0                Murali Kartik  India
63                        0                   VVS Laxman  India
67                        0                Ishant Sharma  India
69                        0                 Manoj Tiwary  India
71                        0                  Vinay Kumar  India
74                        0                     L Balaji  India
76                        0                 Pragyan Ojha  India
77                        0                 Rahul Dravid  India
78                        0                     RP Singh  India
83                        0            Cheteshwar Pujara  India
86                        0                  Munaf Patel  India
87                        0                Venugopal Rao  India
89                        0               Abhishek Nayar  India
90                        0                Praveen Kumar  India
92                        0                 Ashish Nehra  India
93                        0                     R Ashwin  India
94                        0                  S Badrinath  India
97                        0               Dinesh Karthik  India
99                        0           M Vijay (retained)  India
100                       0                Piyush Chawla  India
101                       0                    Sreesanth  India
102                       0                  Zaheer Khan  India
105                       0              Ravindra Jadeja  India
112                       0   Harbhajan Singh (retained)  India
114                       0      Suresh Raina (retained)  India
117                       0               Saurabh Tiwary  India
118                       0          MS Dhoni (retained)  India
119                       0  Sachin Tendulkar (retained)  India
121                       0       Virat Kohli (retained)  India
122                       0   Virender Sehwag (retained)  India
123                       0                 Yuvraj Singh  India
124                       0                 Irfan Pathan  India
125                       0                 Rohit Sharma  India
126                       0                Robin Uthappa  India
127                       0                 Yusuf Pathan  India
128                       0               Gautam Gambhir  India

                 IPL 4 Franchise  Player cost USD  matches  innings played  \
26           Chennai Super Kings         100000.0     56.0            43.0
29   Royal Challengers Bangalore         130000.0     45.0            38.0
32           Chennai Super Kings         150000.0     41.0            22.0
40              Delhi Daredevils         210000.0     48.0            27.0
41           Chennai Super Kings         240000.0     14.0             2.0
42         Kolkata Knight Riders         250000.0     14.0             2.0
44              Delhi Daredevils         270000.0     53.0            53.0
46               Deccan Chargers         290000.0     39.0            18.0
47                         Kochi         290000.0     58.0            56.0
49               Deccan Chargers         300000.0     67.0            39.0
53               Deccan Chargers         300000.0     59.0            58.0
58              Delhi Daredevils         375000.0     50.0            11.0
60                 Pune Warriors         400000.0     97.0            28.0
63                         Kochi         400000.0     25.0            25.0
67               Deccan Chargers         450000.0     58.0            19.0
69         Kolkata Knight Riders         475000.0     60.0            54.0
71                         Kochi         475000.0     64.0            33.0
74         Kolkata Knight Riders         500000.0     56.0            12.0
76               Deccan Chargers         500000.0     67.0            19.0
77              Rajasthan Royals         500000.0     66.0            59.0
78                         Kochi         500000.0     78.0            36.0
83   Royal Challengers Bangalore         700000.0     25.0            17.0
86                Mumbai Indians         700000.0     48.0            10.0
87              Delhi Daredevils         700000.0     61.0            55.0
89               Kings XI Punjab         800000.0     46.0            38.0
90               Kings XI Punjab         800000.0     69.0            38.0
92                 Pune Warriors         850000.0     42.0            11.0
93           Chennai Super Kings         850000.0     52.0            15.0
94           Chennai Super Kings         850000.0     83.0            68.0
97               Kings XI Punjab         900000.0     86.0            75.0
99           Chennai Super Kings         900000.0     61.0            59.0
100              Kings XI Punjab         900000.0     72.0            41.0
101                        Kochi         900000.0     53.0            17.0
102  Royal Challengers Bangalore         900000.0     75.0            33.0
105                        Kochi         950000.0     54.0            43.0
112               Mumbai Indians        1300000.0     86.0            48.0
114          Chennai Super Kings        1300000.0     88.0            85.0
117  Royal Challengers Bangalore        1600000.0     50.0            44.0
118          Chennai Super Kings        1800000.0     95.0            85.0
119               Mumbai Indians        1800000.0     60.0            60.0
121  Royal Challengers Bangalore        1800000.0     79.0            70.0
122             Delhi Daredevils        1800000.0     77.0            76.0
123                Pune Warriors        1800000.0     93.0            90.0
124             Delhi Daredevils        1900000.0     83.0            67.0
125               Mumbai Indians        2000000.0     97.0            91.0
126                Pune Warriors        2100000.0     93.0            87.0
127        Kolkata Knight Riders        2100000.0     90.0            82.0
128        Kolkata Knight Riders        2400000.0     87.0            85.0

          ...         Is star bowler  wkts taken Best innings bowling  \
26        ...                    0.0           -                    -
29        ...                    0.0           -                    -
32        ...                    0.0          36  2017-03-01 00:00:00
40        ...                    0.0          40  2025-03-01 00:00:00
41        ...                    0.0          20  2011-10-03 00:00:00
42        ...                    0.0          20  2011-10-03 00:00:00
44        ...                    0.0           -                    -
46        ...                    0.0          39  2016-04-01 00:00:00
47        ...                    0.0           -                    -
49        ...                    1.0          93  2017-05-01 00:00:00
53        ...                    0.0           1  2011-07-01 00:00:00
58        ...                    0.0          48  2013-04-01 00:00:00
60        ...                    0.0          77  2013-05-01 00:00:00
63        ...                    0.0           -                    -
67        ...                    0.0          43  2011-12-05 00:00:00
69        ...                    0.0          10  2019-03-01 00:00:00
71        ...                    0.0          64  1940-04-01 00:00:00
74        ...                    0.0          57  2024-05-01 00:00:00
76        ...                    1.0          83  2021-04-01 00:00:00
77        ...                    0.0           -                    -
78        ...                    1.0          92  2011-08-05 00:00:00
83        ...                    0.0           -                    -
86        ...                    0.0          57  2021-05-01 00:00:00
87        ...                    0.0           8  2023-02-01 00:00:00
89        ...                    0.0           9  2013-03-01 00:00:00
90        ...                    0.0          61  2018-03-01 00:00:00
92        ...                    0.0          50  2013-03-01 00:00:00
93        ...                    0.0          67  2018-04-01 00:00:00
94        ...                    0.0           1  2016-01-01 00:00:00
97        ...                    0.0           1  2011-10-01 00:00:00
99        ...                    0.0           0                    -
100       ...                    1.0          75  2017-04-01 00:00:00
101       ...                    0.0          45  2029-03-01 00:00:00
102       ...                    0.0          75  2019-04-01 00:00:00
105       ...                    0.0          21  2015-03-01 00:00:00
112       ...                    0.0          77  2018-05-01 00:00:00
114       ...                    0.0          24  2026-04-01 00:00:00
117       ...                    0.0           -                    -
118       ...                    0.0           -                    -
119       ...                    0.0           2  2011-12-01 00:00:00
121       ...                    0.0           4  2025-02-01 00:00:00
122       ...                    0.0          19  2014-03-01 00:00:00
123       ...                    0.0          40  2029-04-01 00:00:00
124       ...                    1.0          89  2027-04-01 00:00:00
125       ...                    0.0          26  2011-06-04 00:00:00
126       ...                    0.0           -                    -
127       ...                    0.0          67  2011-10-04 00:00:00
128       ...                    NaN         NaN                  NaN

      best match bowling  Bowling average  Bowling econ    sr   4w   5w  \
26                     -             0.00             -     -    -    -
29                     -             0.00             -     -    -    -
32   2017-03-01 00:00:00            28.22          8.05    21    0    0
40   2025-03-01 00:00:00            31.57           8.3  22.8    0    0
41   2011-10-03 00:00:00            16.00          7.44  12.9    0    0
42   2011-10-03 00:00:00            16.00          7.44  12.9    0    0
44                     -             0.00             -     -    -    -
46   2016-04-01 00:00:00            26.00          7.75  20.1    1    0
47                     -             0.00             -     -    -    -
49   2017-05-01 00:00:00            18.24          6.81    16    1    2
53   2011-07-01 00:00:00            11.00           5.5    12    0    0
58   2013-04-01 00:00:00            22.89          6.94  19.7    1    0
60   2013-05-01 00:00:00            29.35          6.65  26.4    0    1
63                     -             0.00             -     -    -    -
67   2011-12-05 00:00:00            36.32          7.67  28.3    0    1
69   2019-03-01 00:00:00            26.20          7.27  21.6    0    0
71   1940-04-01 00:00:00            25.76          7.88  19.5    1    0
74   2024-05-01 00:00:00            25.24          7.91  19.1    1    1
76   2021-04-01 00:00:00            19.73          6.96    17    1    0
77                     -             0.00             -     -    -    -
78   2011-08-05 00:00:00            23.14          7.49  18.5    3    1
83                     -             0.00             -     -    -    -
86   2021-05-01 00:00:00            21.38          7.33  17.4    0    1
87   2023-02-01 00:00:00            50.75          8.63  35.2    0    0
89   2013-03-01 00:00:00            38.66          8.66  26.7    0    0
90   2018-03-01 00:00:00            30.37           7.6  23.9    0    0
92   2013-03-01 00:00:00            22.60          7.48  18.1    0    0
93   2018-04-01 00:00:00            18.38          6.28  17.5    1    0
94   2016-01-01 00:00:00            22.00          7.33    18    0    0
97   2011-10-01 00:00:00            10.00             5    12    0    0
99                     -             0.00             4     -    0    0
100  2017-04-01 00:00:00            24.50          7.47  19.6    1    0
101  2029-03-01 00:00:00            32.80          8.33  23.6    0    0
102  2019-04-01 00:00:00            28.64          7.72  22.2    1    0
105  2015-03-01 00:00:00            37.61          7.34  30.7    0    0
112  2018-05-01 00:00:00            25.80          6.66  23.2    1    1
114  2026-04-01 00:00:00            27.08          7.03    23    1    0
117                    -             0.00             -     -    -    -
118                    -             0.00             -     -    -    -
119  2011-12-01 00:00:00            61.50          7.93  46.5    0    0
121  2025-02-01 00:00:00            89.50          8.52    63    0    0
122  2014-03-01 00:00:00            20.68          8.07  15.3    0    0
123  2029-04-01 00:00:00            22.30          7.25  18.4    1    0
124  2027-04-01 00:00:00            24.29          7.65    19    1    0
125  2011-06-04 00:00:00            25.19          7.44  20.3    1    0
126                    -             0.00             -     -    -    -
127  2011-10-04 00:00:00            24.50          7.46  19.7    2    0
128                  NaN             0.00           NaN   NaN  NaN  NaN

     10 wicket hauls
26                 -
29                 -
32                 0
40                 0
41                 0
42                 0
44                 -
46                 0
47                 -
49                 0
53                 0
58                 0
60                 0
63                 -
67                 0
69                 0
71                 0
74                 0
76                 0
77                 -
78                 0
83                 -
86                 0
87                 0
89                 0
90                 0
92                 0
93                 0
94                 0
97                 0
99                 0
100                0
101                0
102                0
105                0
112                0
114                0
117                -
118                -
119                0
121                0
122                0
123                0
124                0
125                0
126                -
127                0
128              NaN

[48 rows x 41 columns]
Netherlands
    Variable Tag  Is Captain(1=yes)  Is Wktkeeper(1=Yes)  \
33          34.0                0.0                  0.0

   Nationality(1=Overseas)                Name         Team  \
33                       1  Ryan ten Doeschate  Netherlands

          IPL 4 Franchise  Player cost USD  matches  innings played  \
33  Kolkata Knight Riders         150000.0    107.0            93.0

         ...         Is star bowler  wkts taken Best innings bowling  \
33       ...                    0.0          60  2024-04-01 00:00:00

     best match bowling  Bowling average  Bowling econ    sr  4w  5w  \
33  2024-04-01 00:00:00             23.5          7.97  17.6   1   0

    10 wicket hauls
33                0

[1 rows x 41 columns]
New Zealand
     Variable Tag  Is Captain(1=yes)  Is Wktkeeper(1=Yes)  \
21           22.0                0.0                  0.0
24           25.0                0.0                  0.0
31           32.0                0.0                  0.0
38           39.0                0.0                  0.0
68           69.0                0.0                  1.0
79           80.0                1.0                  0.0
106         107.0                0.0                  0.0

    Nationality(1=Overseas)              Name         Team  \
21                        1    James Franklin  New Zealand
24                        1   Nathan McCullum  New Zealand
31                        1       Jesse Ryder  New Zealand
38                        1      Scott Styris  New Zealand
68                        1  Brendon McCullum  New Zealand
79                        1    Daniel Vettori  New Zealand
106                       1       Ross Taylor  New Zealand

                 IPL 4 Franchise  Player cost USD  matches  innings played  \
21                Mumbai Indians         100000.0     72.0            64.0
24                 Pune Warriors         100000.0     73.0            59.0
31                 Pune Warriors         150000.0     52.0            51.0
38           Chennai Super Kings         200000.0    120.0           112.0
68                         Kochi         475000.0    112.0           111.0
79   Royal Challengers Bangalore         550000.0     70.0            47.0
106             Rajasthan Royals        1000000.0    114.0           107.0
